@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --theme-dark: #1e1e1e;
  --theme-light: #ffffff;
  --white: #ffffff;
  --grey: #d7d7d7;
  --purple-grey: #8f8297;
  --blue: #007bff;
  --blue-dark: #0056b3;
  --light-background: #f8f8f8;
  --dark-background: #333333;
  --light-text: #000000;
  --dark-text: #ffffff;
}

body.dark-mode {
  background-color: var(--theme-dark);
  color: var(--theme-light);
}

.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
}

.theme-toggle button {
  background-color: var(--blue);
  color: var(--white);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle button:hover {
  background-color: var(--blue-dark);
}

.theme-toggle button:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--theme-dark);
  color: var(--theme-light);
}

input {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

.input-wrapper {
  width: 90vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0 1rem;
}

.input-wrapper h1 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}

.podcasts-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  width: 100%;
}

.banner-wrapper img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.podcast-description {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.podcast-title-heading {
  font-size: 2rem;
  margin: 1rem 0;
}

.episode-list {
  margin-top: 1rem;
}

.episode-item {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
  background-color: var(--dark-background);
  color: var(--dark-text);
}

.emphasized-text {
  cursor: pointer;
  color: #18b2de; /* Blue color for emphasis */
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease;
}

.emphasized-text:hover {
  color: #0f78a4; /* Darker blue on hover */
}

/* Example styles for FavoritesPage */
.favorites-page {
  padding: 20px;
  background-color: var(--theme-dark);
  color: var(--theme-light);
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.buttons button {
  background-color: var(--blue);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: var(--blue-dark);
}

.favorite-item {
  background-color: var(--dark-background);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--dark-text);
}

.episode-tile {
  background-color: var(--dark-background);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--dark-text);
}

.episode-title {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.episode-description {
  font-size: 0.9rem;
}

.episode-details img {
  width: 150px; /* Adjust the width as needed */
  height: auto;
  display: block;
  margin: 0 auto 1rem;
  border-radius: 8px;
}

/* Custom audio player */
.custom-audio-player {
  width: 100%;
  background: grey;
  color: var(--theme-light);
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 10px;
}

.custom-audio-player::-webkit-media-controls-panel {
  background-color: var(--theme-dark);
}

.custom-audio-player::-webkit-media-controls-play-button,
.custom-audio-player::-webkit-media-controls-pause-button,
.custom-audio-player::-webkit-media-controls-mute-button,
.custom-audio-player::-webkit-media-controls-volume-slider {
  filter: invert(100%);
}

.custom-audio-player::-webkit-media-controls-timeline,
.custom-audio-player::-webkit-media-controls-current-time-display,
.custom-audio-player::-webkit-media-controls-time-remaining-display {
  color: var(--white);
}

/* HomePage styles */
.home-page {
  padding: 2rem;
  text-align: center;
}

.slick-slide {
  padding: 0 10px;
}

.slick-prev:before, .slick-next:before {
  color: black;
}
